In [1]:
# String
name = "Saee"

# List
subjects = ["DS", "ML", "Python"]

# Float
score = 9.5

# Tuple
dimensions = (1920, 1080)

In [2]:
var1 = ''
var2 = '[ DS , ML , Python ]'
var3 = ['DS', 'ML', 'Python']
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [3]:
a = 10
b = 3

print(a / b)    
print(a % b)   
print(a // b)   
print(a ** b)

3.3333333333333335
1
3
1000

In [4]:
data = [10, 3.14, "Python", True, [1, 2], (5, 6), None, "AI", 99, False]

for item in data:
    print(item, "->", type(item))

10 -> <class 'int'>
3.14 -> <class 'float'>
Python -> <class 'str'>
True -> <class 'bool'>
[1, 2] -> <class 'list'>
(5, 6) -> <class 'tuple'>
None -> <class 'NoneType'>
AI -> <class 'str'>
99 -> <class 'int'>
False -> <class 'bool'>

In [14]:
A = 90
B = 3

count = 0

while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print("Purely divisible", count, "times")
else:
    print("Not purely divisible")

Purely divisible 2 times

In [8]:
numbers = list(range(1, 26))

for num in numbers:
    if num % 3 == 0:
        print(f"{num} → divisible by 3")
    else:
        print(f"{num} → not divisible by 3")

1 → not divisible by 3
2 → not divisible by 3
3 → divisible by 3
4 → not divisible by 3
5 → not divisible by 3
6 → divisible by 3
7 → not divisible by 3
8 → not divisible by 3
9 → divisible by 3
10 → not divisible by 3
11 → not divisible by 3
12 → divisible by 3
13 → not divisible by 3
14 → not divisible by 3
15 → divisible by 3
16 → not divisible by 3
17 → not divisible by 3
18 → divisible by 3
19 → not divisible by 3
20 → not divisible by 3
21 → divisible by 3
22 → not divisible by 3
23 → not divisible by 3
24 → divisible by 3
25 → not divisible by 3

In [ ]:
lst = [1, 2, 3]
lst[0] = 99
print(lst)